<div class="mt-2">
  <label class="form-label">{{ label }} </label>
  <input
    class="form-check"
    type="checkbox"
    [formControl]="control"
    [ngClass]="{
      'is-invalid': control.errors && control.dirty,
      'is-valid': !control.errors
    }"
    [appDisableControl]="disabled"
  />
  <div
    class="invalid-feedback"
    [class.show-input-error]="control.errors && control.dirty"
  >
    <ng-container *ngFor="let inputError of inputErrors">
      <ng-container *ngIf="control.errors && control.errors[inputError.key]">
        {{ inputError.message }}
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!checkCustomErrors()">
      {{ errorMessage }}
    </ng-container>
  </div>
</div>
