<app-login-layout>
  <!-- Reset password-->
  <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
    <ng-container *ngIf="checkingToken" class="spinner-wrapper">
      <div class="spinner-wrapper">
        <div
          class="spinner-border text-primary"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-container>
    <div
      class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto"
      *ngIf="!checkingToken"
    >
      <h2 class="card-title fw-bold mb-1">Reset Password 🔒</h2>
      <p class="card-text mb-2" *ngIf="validToken">
        Your new password must be different from previously used passwords
      </p>
      <p class="card-text mb-2" *ngIf="!validToken">
        Invalid/Expired Reset Password Token.
      </p>
      <form
        class="auth-reset-password-form mt-2"
        *ngIf="validToken"
        [formGroup]="form"
      >
        <div class="mb-1">
          <div class="d-flex justify-content-between">
            <label class="form-label" for="reset-password-new"
              >New Password</label
            >
          </div>
          <div class="input-group input-group-merge form-password-toggle">
            <input
              class="form-control form-control-merge"
              id="reset-password-new"
              type="password"
              name="reset-password-new"
              placeholder="············"
              aria-describedby="reset-password-new"
              autofocus=""
              tabindex="1"
              formControlName="password"
            /><span class="input-group-text cursor-pointer"
              ><i data-feather="eye"></i
            ></span>
          </div>
          <div
            class="invalid-feedback"
            [class.show-input-error]="
              form.controls.password.errors && form.controls.password.dirty
            "
          >
            Password must be minimum 8 character long and Min 1 uppercase letter
            and Min 1 lowercase letter and Min 1 special character and Min 1
            number
          </div>
        </div>
        <div class="mb-1">
          <div class="d-flex justify-content-between">
            <label class="form-label" for="reset-password-confirm"
              >Confirm Password</label
            >
          </div>
          <div class="input-group input-group-merge form-password-toggle">
            <input
              class="form-control form-control-merge"
              id="reset-password-confirm"
              type="password"
              name="reset-password-confirm"
              placeholder="············"
              aria-describedby="reset-password-confirm"
              tabindex="2"
              formControlName="confirmpassword"
            /><span class="input-group-text cursor-pointer"
              ><i data-feather="eye"></i
            ></span>
          </div>
          <div
            class="invalid-feedback"
            [class.show-input-error]="
              form.controls.confirmpassword.errors &&
              form.controls.confirmpassword.dirty
            "
          >
            Password must be minimum 8 character long and Min 1 uppercase letter
            and Min 1 lowercase letter and Min 1 special character and Min 1
            number
          </div>
        </div>
        <app-danger-flat
          *ngIf="passwordDoNotMatch"
          message="Passwords Do not Match"
        >
        </app-danger-flat>
        <button
          class="btn btn-primary w-100"
          tabindex="3"
          (click)="onSubmit()"
          [disabled]="form.invalid || loading"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
            *ngIf="loading"
          ></span>
          <ng-container *ngIf="!loading"> Set New Password </ng-container>
        </button>
      </form>
      <p class="text-center mt-2">
        <a [routerLink]="['/login']"
          ><i data-feather="chevron-left"></i> Back to login</a
        >
      </p>
    </div>
  </div>
  <!-- /Reset password-->
</app-login-layout>
