<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light">
  <p class="clearfix mb-0">
    <span class="float-md-start d-block d-md-inline-block mt-25"
      >COPYRIGHT &copy;
      <a class="ms-25" href="{{ domain }}" target="_blank">{{ name }}</a
      ><span class="d-none d-sm-inline-block">
        &nbsp;| Version: v{{ version }}</span
      ></span
    >
    <!-- <span class="float-md-end d-none d-md-block"
      >Making internet safe with your help <i data-feather="heart"></i
    ></span> -->
  </p>
</footer>
<button class="btn btn-primary btn-icon scroll-top" type="button">
  <i data-feather="arrow-up"></i>
</button>
<!-- END: Footer-->
