<app-login-layout>
  <!-- Forgot password-->
  <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
    <div
      class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto fade-in-1s-login"
    >
      <h2 class="card-title fw-bold mb-1">Forgot Password? 🔒</h2>
      <p class="card-text mb-2" *ngIf="!resetPasswordSuccess">
        Enter your email and we'll send you instructions to reset your password
      </p>
      <p class="card-text mb-2" *ngIf="resetPasswordSuccess">
        Please check your email inbox for reset password link.
      </p>
      <form
        class="auth-forgot-password-form mt-2"
        *ngIf="!resetPasswordSuccess"
        [formGroup]="form"
      >
        <div class="mb-1">
          <app-verticle-text-input
            label="Email"
            placeHolder="Email"
            type="email"
            errorMessage="Please enter a valid Email Address."
            [control]="form.controls.email"
          >
          </app-verticle-text-input>
        </div>
        <app-danger-flat *ngIf="emailNotFoundError" message="Email Not Found">
        </app-danger-flat>
        <div class="mb-1 content-middle"><div id="recaptcha"></div></div>
        <button
          class="btn btn-primary w-100"
          tabindex="2"
          (click)="onSubmit()"
          [disabled]="form.invalid || loading"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
            *ngIf="loading"
          ></span>
          <ng-container *ngIf="!loading"> Send Reset Link </ng-container>
        </button>
      </form>
      <p class="text-center mt-2">
        <a [routerLink]="['/login']"
          ><i data-feather="chevron-left"></i> Back to login</a
        >
      </p>
    </div>
  </div>
  <!-- /Forgot password-->
</app-login-layout>
