name: 'Release: Docker Image Publish'

on:
  release:
    types: [published]

jobs:
  build:
    name: "Build and Publish to Docker Hub"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Log into registry docker.io
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: bittokazi
          password: ${{ secrets.DOCKER_HUB_API_TOKEN }}

      - name: Build Docker image
        run: |
          docker build . \
          --file ./Dockerfile \
          --tag docker.io/bittokazi/spring-boot-oauth2-multi-tenant-authorization-server:latest \
          --tag docker.io/bittokazi/spring-boot-oauth2-multi-tenant-authorization-server:${{ github.event.release.tag_name }}

      - name: Push Docker images
        run: |
          docker push docker.io/bittokazi/spring-boot-oauth2-multi-tenant-authorization-server:latest
          docker push docker.io/bittokazi/spring-boot-oauth2-multi-tenant-authorization-server:${{ github.event.release.tag_name }}
